<section class="bg-dark-blue">	

		
        	<div class="register-title">
            	<div class="title-default">
                	<h1 style="text-align:center;color:#FFF">Register Your Team</h1>
                </div>
            </div>

        <div class="m-12">
        
			<div class="register-title">
	
				<table class="table-scores">
						<tr class="t-header">
							<td>Team</td>
							<td></td>
							<td></td>
							<td title="Team" ><a href="#"><i class="fa fa-flag"></i></a></td>
						</tr>			

						<tr>
							<td><input type="text" class="form-control" placeholder="Enter Team Name"></td>
							<td><input type="text" class="form-control" placeholder="Enter Team Place"></td>
							<td><select>
                        	<option>Select Your Flag Color</option>
                            <option>Red</option>
                            <option>Yellow</option>
                            <option>Blue</option>
                        </select></td>
                        <td></td>
						</tr>	
                </table>        
		</div>
		</div>
        
        <div class="m-12">
        
           	
			<div class="register-title">

				<table class="table-scores">
						<tr class="t-header">
							<td>Captain Name</td>
							<td>Captain Email</td>
							<td>Captain Mobile No</td>
							<td title="Captian" ><a href="#"><i class="fa fa-star"></i></a></td>
						</tr>			

						<tr>
							<td><input type="text" class="form-control" placeholder="Enter Captain Name"></td>
							<td><input type="text" class="form-control" placeholder="Enter Captain Email"></td>
							<td><input type="text" class="form-control" placeholder="Enter Captain Mobile No"></td>
						    <td></td>
						</tr>	
                </table>        
		</div>
		</div>
		<div class="m-12">
        
			<div class="register-title">

				<table class="table-scores">
						<tr class="t-header">
							<td>Sr. No</td>
							<td>Player Name</td>
							<td>Player Mobile No</td>
							<td title="Players" ><a href="#"><i class="fa fa-group"></i></a></td>
						</tr>			

						<tr>
							<td>#2</td>
							<td><input type="text" placeholder="Enter Player Name"/></td>
							<td><input type="text" placeholder="Enter Player Mobile No" /></td>
							<td></td>
						</tr>	
                        <tr>
							<td>#3</td>
							<td><input type="text" placeholder="Enter Player Name"/></td>
							<td><input type="text" placeholder="Enter Player Mobile No" /></td>
							<td></td>
						</tr>
						<tr>
							<td>#4</td>
							<td><input type="text" placeholder="Enter Player Name"/></td>
							<td><input type="text" placeholder="Enter Player Mobile No" /></td>
							<td></td>
						</tr>	
                        <tr>
							<td>#5</td>
							<td><input type="text" placeholder="Enter Player Name"/></td>
							<td><input type="text" placeholder="Enter Player Mobile No" /></td>
							<td></td>
						</tr>                        						<tr>
						<tr>
							<td>#6</td>
							<td><input type="text" placeholder="Enter Player Name"/></td>
							<td><input type="text" placeholder="Enter Player Mobile No" /></td>
							<td></td>
						</tr>	
                        <tr>
							<td>#7</td>
							<td><input type="text" placeholder="Enter Player Name"/></td>
							<td><input type="text" placeholder="Enter Player Mobile No" /></td>
							<td></td>
						</tr>
						<tr>
							<td>#8</td>
							<td><input type="text" placeholder="Enter Player Name"/></td>
							<td><input type="text" placeholder="Enter Player Mobile No" /></td>
							<td></td>
						</tr>	
                        <tr>
							<td>#9</td>
							<td><input type="text" placeholder="Enter Player Name"/></td>
							<td><input type="text" placeholder="Enter Player Mobile No" /></td>
							<td></td>
						</tr>                        						<tr>                        
						<tr>
							<td>#10</td>
							<td><input type="text" placeholder="Enter Player Name"/></td>
							<td><input type="text" placeholder="Enter Player Mobile No" /></td>
							<td></td>
						</tr>	
                        <tr>
							<td>#11</td>
							<td><input type="text" placeholder="Enter Player Name"/></td>
							<td><input type="text" placeholder="Enter Player Mobile No" /></td>
							<td></td>
						</tr>
						<tr>
							<td>#12</td>
							<td><input type="text" placeholder="Enter Player Name"/></td>
							<td><input type="text" placeholder="Enter Player Mobile No" /></td>
							<td></td>
						</tr>	
                        <tr>
							<td>#13</td>
							<td><input type="text" placeholder="Enter Player Name"/></td>
							<td><input type="text" placeholder="Enter Player Mobile No" /></td>
							<td></td>
						</tr>
						<tr>
							<td>#14</td>
							<td><input type="text" placeholder="Enter Player Name"/></td>
							<td><input type="text" placeholder="Enter Player Mobile No" /></td>
							<td></td>
						</tr>	
                        <tr>
							<td>#15</td>
							<td><input type="text" placeholder="Enter Player Name"/></td>
							<td><input type="text" placeholder="Enter Player Mobile No" /></td>
							<td></td>
						</tr>																		
				</table> <!-- Table Scores --> 

				

			</div>	<!-- Module Content -->	
            <center>
                    	<a href="/team_register" class="submit-button green-bg" style="width:10%;margin-bottom:50px;">Submit</a>
            </center>    
		</div>
			
	</section>