<section class="bg-dark-blue">

		<div class="m-06" style="width:100%">
			<div class="module-content">

				<div class="title-default">
					<h2>Team Name</h2>	
				</div>	<!-- Module Title -->

				<table class="table-scores">
						<tr class="t-header">
							<td colspan="3" class="score-date">Team Information</td>
							<td title="Captian" ><a href="#"><i class="fa fa-flag"></i></a></td>
						</tr>

						<tr class="t-header">
							<td>Name</td>
							<td>Color</td>
							<td>Place</td>
							<td></td>
							
						</tr>
						<tr>							
							<td>Youth Club</td>
							<td>yellow</td>
							<td>Mathura</td>					
							<td title="Edit" ><a href="#"><i class="fa fa-edit"></i></a></td>
						</tr>																											
				</table> <!-- Table Scores -->
				<div class="title-default">
						
				</div>	<!-- Module Title -->

			

				<table class="table-scores">
						<tr class="t-header">
							<td colspan="3" class="score-date">Captian Information</td>
							<td title="Captian" ><a href="#"><i class="fa fa-star"></i></a></td>
						</tr>

						<tr class="t-header">
							<td >Name</td>
							<td >Email</td>
							<td>Phone Number</td>
							<td></td>
							
						</tr>
						<tr>							
							<td>Hitendra Kumar</td>
							<td>hitendra1632@gmail.com</td>
							<td>8695398008</td>					
							<td title="Edit" ><a href="#"><i class="fa fa-edit"></i></a></td>
						</tr>																											
				</table> <!-- Table Scores -->
				<div class="title-default">
					
				</div>	<!-- Module Title -->
				<table class="table-scores">
						<tr class="t-header">
							<td colspan="3" class="score-date">Players Information</td>
							<td title="Players" ><a href="#"><i class="fa fa-group"></i></a></td>
						</tr>

						<tr class="t-header">
							<td>Name</td>
							<td>Email</td>
							<td>Phone Number</td>
							<td></td>
							
						</tr>
						<tr>							
							<td>Hitendra Kumar</td>
							<td >hitendra1632@gmail.com</td>
							<td>8695398008</td>					
							<td title="Edit" ><a href="#"><i class="fa fa-edit"></i></a></td>
						</tr>																											
				</table> <!-- Table Scores -->
				

			</div>	<!-- Module Content -->	
		</div>	<!-- Module -->	
</section>