

	<section>
		<div class="big-heading bg-dark-blue">
			<h1>About Us</h1>
			<p>SportsEvo is all about revolutionising the way sports is played and visualised. We are a leauge of people so much passionate about sports that we will completely change the aspects of playing different sports and will change the vision about it as much as it will be seen through a all new perspective.</p>
		</div>
	</section>

	

	<section class="bg-dark-blue">

			<div class="m-12 bg-dark-blue">
				<div class="module-content">
					<div class="title-default">
						<h2>Story behind Sportsevo</h2>
					</div>

					<img src="img/about-img.png" alt="">

					<p>Sports is such a topic which is not much known and fetched up by the common people throughout the globe beacuse of the complexity involved in getting to know about any of it. The world started to know and recognise the game of wrestling through wwe where they showcased their talent and dedication towards the game. Presenting out the different forms of sports and bringing forth the speciality of all those is quite a challenging and dedicative task. So representing the evolution of sports in front of a large audience is the current demand of the era. We through SportsEvo is trying to bring forward the essence of different variety of sports that is being played all over the world. SportsEvo will change the trend of super amazing sports being unrecognized by the whole world and make it as popular as it deserves to be.
					</p>			
				</div>		
			</div>		
					
				
	
	</section>

	
<link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/lightbox.css">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,700italic,700,400italic' rel='stylesheet' type='text/css'>
    
    <script src="js/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="js/js.js" type="text/javascript"></script>
        <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="../owl-carousel/owl.carousel.css">
    <!-- Default Theme -->
    <link rel="stylesheet" href="../owl-carousel/owl.theme.css">
    <!-- Include js plugin -->
    <script src="owl-carousel/owl.carousel.js"></script>
    <script src="js/countdown.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/lightbox.js" type="text/javascript" charset="utf-8"></script>