<section>
		
		<div class="m-12 bg-dark-blue">
			<div class="module-content">
				
				<div class="m-06 bg-orange" style="background-color: rgb(78, 152, 78)">
					<div class="module-content">
						<div class="title-default">
							<h2>Contact form</h2>	
						</div>			
						<form id="ajax-contact" method="post" action="#">
							<div>
								<input type="text" id="name" placeholder="Name" name="name" required>
							</div>

							<div>
								<input type="email" id="email" placeholder="Email" name="email" required>
							</div>

							<div>
								<textarea id="message" placeholder="Message" name="message" required></textarea>
							</div>

							<div>
								<button type="submit">Send</button>
							</div>
						</form>

					</div>
				</div>

				<div class="m-06">
					<div class="module-content">
						<div class="title-default">
							<h2>Contact info</h2>	
						</div>						
						<ul class="contact-info">
							<li><i class="fa fa-map-marker"></i> Mathura</li>
							<li><i class="fa fa-phone"></i>8695398008 </li>
							
							<li><i class="fa fa-envelope"></i> support@sportsevo.com </li>
							<li><i class="fa fa-desktop"></i> sportsevo.com </li>
						</ul>
					</div>

					<div class="module-content">
						<div class="title-default">
							<h2>More</h2>	
						</div>						
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quis, asperiores, mollitia, sint alias repellendus neque in id eveniet tempora harum fugiat odit nobis facere adipisci vitae debitis aliquam accusantium.</p>
					</div>					
				</div>
				
				
					
			</div>
		</div>

	</section>
<script src="js/fluidvids.js"></script>