<section class="bg-00">
		<div class="m-12" style="width:100%">
			
			<div class="tagline-box t-box-dark-blue">
				<div class="module-content">
					<h3>Frequently Asked Questions</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, pariatur eius maxime. Ex, veniam, natus, assumenda, vel praesentium dicta eligendi doloribus quibusdam rem iure illum quisquam saepe autem cumque officiis!</p>
					<a href="#" class="button green-bg">Contact Us</a>
				</div>
			</div>

			<div class="m-12 bg-dark-blue">
				<div class="module-content">		
					<ul class="accordion accordion-standart faq">
						<li>
							<div class='accordion-title'> <h4><i class="fa fa-unsorted (alias)"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit kblkbjbkbjlblbljbjbljbjbb gvhgvkvkhhvhjvhvhvjv lbjbjkjbjbjb?</h4></div>
							<div class='accordion-content'>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus varius urna, ac venenatis arcu convallis consequat. In augue est, posuere auctor facilisis varius, dictum ac risus.</p>
							</div>
						</li>
						<li>
							<div class='accordion-title'> <h4><i class="fa fa-unsorted (alias)"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit?</h4></div>
							<div class='accordion-content'>
								<p>Vivamus id elementum risus. In sit amet mi nulla, ac sollicitudin odio. Phasellus laoreet leo vitae velit lobortis at condimentum odio placerat. Nam sapien eros, accumsan id porttitor a, commodo ut urna. Cras dignissim metus quis enim placerat lobortis.</p>
							</div>
						</li>
						<li>
							<div class='accordion-title'> <h4><i class="fa fa-unsorted (alias)"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit?</h4></div>
							<div class='accordion-content'>
								<p>Phasellus scelerisque luctus ligula, a consequat orci posuere rutrum. Sed ipsum nisi, ullamcorper eget fermentum a, dignissim sed dolor. Mauris viverra pretium ante, eu mollis nisi volutpat quis. Nunc neque erat, pharetra in feugiat eget, faucibus id sem.</p>
							</div>
						</li>
						<li>
							<div class='accordion-title'> <h4><i class="fa fa-unsorted (alias)"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit?</h4></div>
							<div class='accordion-content'>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus varius urna, ac venenatis arcu convallis consequat. In augue est, posuere auctor facilisis varius, dictum ac risus.</p>
							</div>
						</li>
						<li>
							<div class='accordion-title'> <h4><i class="fa fa-unsorted (alias)"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit?</h4></div>
							<div class='accordion-content'>
								<p>Vivamus id elementum risus. In sit amet mi nulla, ac sollicitudin odio. Phasellus laoreet leo vitae velit lobortis at condimentum odio placerat. Nam sapien eros, accumsan id porttitor a, commodo ut urna. Cras dignissim metus quis enim placerat lobortis.</p>
							</div>
						</li>																	
					</ul>
				</div>																						
			</div>
		</div>
	</section>

	<link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/lightbox.css">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,700italic,700,400italic' rel='stylesheet' type='text/css'>
    
    <script src="js/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="js/js.js" type="text/javascript"></script>
        <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="../owl-carousel/owl.carousel.css">
    <!-- Default Theme -->
    <link rel="stylesheet" href="../owl-carousel/owl.theme.css">
    <!-- Include js plugin -->
    <script src="owl-carousel/owl.carousel.js"></script>
    <script src="js/countdown.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/lightbox.js" type="text/javascript" charset="utf-8"></script>
