    <header>  
      <div class="clearfix header-content">
            <h1>Sports Evo</h1>
            <h2>Evolution in Sports</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, placeat, officia, et, quas ipsam tempora alias libero quaerat beatae pariatur odit recusandae voluptas autem totam similique corrupti ex corporis distinctio.</p>
            <a href="/users/sign_in" class="button yellow-bg">Register your Team</a>
        </div>
    </header>   
    <section class="sport-news">

        <div class="m-02">
            <div class="sport-menu">
                <div class="sport-content sport-title">
                    <span><i class="fa fa-chevron-right sport-icon"></i>See All Events</span>                   
                </div>          
                
            </div>              
        </div>

                                                         
    </section>

    <section class="bg-orange">
        <div class="m-12">

            <div class="m-06 bg-03">
                <div class="module-content content">
                    <a href="blog-post.html"><h1>Football Champions </h1></a>
                    <p>Birmingham City's Karen Carney says they have proved critics wrong by reaching the Women's Champions League semi-finals. </p>
                    <div class="info">
                        <ul>
                            <li class="date"><i class="fa fa-calendar"></i>31 Mar 2014</li>
                            <li class="tag"><a href="#"><i class="fa fa-tag"></i>Football</a></li>
                        </ul>
                    </div>      
                </div>                          
            </div>  

            <div class="m-06 bg-orange">                        
                <div class="owl-carousel owl-theme" data-items="1" data-auto-play="true">

                    <div class="item">              
                        <div class="m-12 bg-06">
                            <div class="module-content content">
                                <a href="blog-post.html"><h1>Blues can silence critics - Carney </h1></a>
                                <p>Birmingham City's Karen Carney says they have proved critics wrong by reaching the Women's Champions League semi-finals. </p>
                                <div class="info">
                                    <ul>
                                        <li class="date"><i class="fa fa-calendar"></i>31 Mar 2014</li>
                                        <li class="tag"><a href="#"><i class="fa fa-tag"></i>Football</a></li>
                                    </ul>
                                </div>      
                            </div>                          
                        </div>
                    </div>
                    
                    <div class="item">              
                        <div class="m-12 bg-03">
                            <div class="module-content content">
                                <a href="blog-post.html"><h1>Blues can silence critics - Carney </h1></a>
                                <p>Birmingham City's Karen Carney says they have proved critics wrong by reaching the Women's Champions League semi-finals. </p>
                                <div class="info">
                                    <ul>
                                        <li class="date"><i class="fa fa-calendar"></i>31 Mar 2014</li>
                                        <li class="tag"><a href="#"><i class="fa fa-tag"></i>Football</a></li>
                                    </ul>
                                </div>      
                            </div>                          
                        </div>
                    </div>  
                    
                    

                    
                                                                                                                    
                </div>
            </div>  

        </div>

                                  
    </section> 
    
    <section class="bg-10">
        <div class="m-12">
            <div class="module-content">

                <div class="title-default">
                    <h2>Soon</h2>   
                </div>

                <div class="m-04">
                    <div class="leftTeam">
                        <img src="img/left-team.png" alt="" />
                        <img src="img/left-team-logo.png" alt="" class="leftTeamLogo" />
                    </div> <!-- End Left Team -->
                </div>

                <div class="m-04">
                    <div class="soon-countdown">
                        <ul>
                            <li>Team 01</li>
                            <li>vs</li>
                            <li>Team 02</li>
                        </ul>
                        <div class="countdown-big countdown-white" data-countdown="2016/04/09"></div>
                    </div>
                </div>

                <div class="m-04">
                    <div class="rightTeam">
                        <img src="img/right-team.png" alt="" />
                        <img src="img/right-team-logo.png" alt="" class="rightTeamLogo" />
                    </div> <!-- End Right Team -->                  
                </div>  

            </div>
        </div>
    </section>


    
    <section class="radio-news">
        <div class="m-03">
            <div class="radio-content radio-title">
                <p><i class="fa fa-signal"></i><span>Radio Programmes</span></p>
                <span>See All<i class="fr fa fa-chevron-right radio-icon"></i></span>
                
            </div>
        </div>

        <div class="m-03 radio">
            <div class="radio-content">
                <a href="#"><i class="fa fa-volume-up"></i>Sports World </a>
                <p>Commentary & interviews from the English Premier League </p>
            </div>
        </div>
        <div class="m-03 radio">
            <div class="radio-content">
                <a href="#"><i class="fa fa-volume-up"></i>Sports News</a>
                <p>Latest international sports news and results</p>
            </div>
        </div>
        <div class="m-03 radio">
            <div class="radio-content">
                <a href="#"><i class="fa fa-volume-up"></i>World Football </a>
                <p>The stories behind the world’s most popular sport </p>
            </div>
        </div>              
    </section>

    