    <header>  
      <div class="clearfix header-content">
            <h1>Football Champions</h1>
            <h2>32 Teams on one battlefeild smashing with each other. </h2>
            
            <a href="/users/sign_in" class="button yellow-bg">Register your Team</a>
        </div>
    </header>   
    

     
    
    <section class="bg-10">
        <div class="m-12">
            <div class="module-content">

                <div class="title-default">
                    <h2>Football Champions</h2>   
                </div>

                <div class="m-04">
                    <div class="leftTeam">
                        <img src="img/left-team.png" alt="" />
                        <img src="img/left-team-logo.png" alt="" class="leftTeamLogo" />
                    </div> <!-- End Left Team -->
                </div>

                <div class="m-04">
                    <div class="soon-countdown">
                        <ul>
                            <li>First Match of Football Champions</li>
                        </ul>
                        <div class="countdown-big countdown-white" data-countdown="2016/04/09"></div>
                    </div>
                </div>

                <div class="m-04">
                    <div class="rightTeam">
                        <img src="img/right-team.png" alt="" />
                        <img src="img/right-team-logo.png" alt="" class="rightTeamLogo" />
                    </div> <!-- End Right Team -->                  
                </div>  

            </div>
        </div>
    </section>


    
    <section class="radio-news">
        <div class="m-03">
            <div class="radio-content radio-title">
                <p><i class="fa fa-signal"></i><span>Radio Programmes</span></p>
                <span>See All<i class="fr fa fa-chevron-right radio-icon"></i></span>
                
            </div>
        </div>

        <div class="m-03 radio">
            <div class="radio-content">
                <a href="#"><i class="fa fa-volume-up"></i>Sports World </a>
                <p>Commentary & interviews from the English Premier League </p>
            </div>
        </div>
        <div class="m-03 radio">
            <div class="radio-content">
                <a href="#"><i class="fa fa-volume-up"></i>Sports News</a>
                <p>Latest international sports news and results</p>
            </div>
        </div>
        <div class="m-03 radio">
            <div class="radio-content">
                <a href="#"><i class="fa fa-volume-up"></i>World Football </a>
                <p>The stories behind the world’s most popular sport </p>
            </div>
        </div>              
    </section>

    