<section class="bg-dark-blue">
		<div class="title-default">
								<h2>Organizers</h2>
		</div>
		<div class="m-04">
			
			<div class="m-12">
				<div class="module-content">
					<div class="title-default">
						<h2>Hitendra Singh</h2>	
					</div>						
					<div >
						<div ><img src="img/org1.jpg" alt="The Last of us"></div>
						
					</div>
				</div>																						
			</div>
			

		</div>
		<div class="m-04">
			
			<div class="m-12">
				<div class="module-content">
					<div class="title-default">
						<h2>Hitendra Singh</h2>	
					</div>						
					<div >
						<div ><img src="img/bg-05.jpg" alt="The Last of us"></div>
						
					</div>
				</div>																						
			</div>
			

		</div>
			

		
		<div class="m-04">
			
			<div class="m-12">
				<div class="module-content">
					<div class="title-default">
						<h2>Hitendra Singh</h2>	
					</div>						
					<div >
						<div ><img src="img/bg-05.jpg" alt="The Last of us"></div>
						
					</div>
				</div>																						
			</div>
			

		</div>

	</section>

<link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/lightbox.css">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,700italic,700,400italic' rel='stylesheet' type='text/css'>
    
    <script src="js/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="js/js.js" type="text/javascript"></script>
        <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="../owl-carousel/owl.carousel.css">
    <!-- Default Theme -->
    <link rel="stylesheet" href="../owl-carousel/owl.theme.css">
    <!-- Include js plugin -->
    <script src="owl-carousel/owl.carousel.js"></script>
    <script src="js/countdown.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/lightbox.js" type="text/javascript" charset="utf-8"></script>

