<div class="bg-dark-blue">
	<section>
			<div class="m-06 bg-dark-blue" >
				<div class="module-content">

					<div class="title-default">
							<h2>Mathura sponsor</h2>	
					</div>

					<div class="tab-dark-blue" >
						<div class="m-12">
							<ul class="horizontal tab-nav hover-tab">
								<li class="m-04"><h4>Sponsor</h4></li>
								<li class="m-04"><h4>About</h4></li>								
							</ul>
							<div class="tab-content " style="width:80%">
								<div style="width:100%">
									<img src="img/bg-05.jpg" alt="The Last of us">

								</div>

								<div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, suscipit, commodi, molestias, ipsum porro voluptas veniam nesciunt illo enim placeat doloribus delectus sequi reiciendis impedit quam dicta esse incidunt minus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, quo, vitae nobis alias eligendi dolorum libero error perspiciatis molestias repellendus mollitia ad exercitationem inventore consectetur odio eveniet id neque officiis.</p>
								</div>
							
							</div>
						</div>
					</div>

				</div>
			</div>
		
		
			<div class="m-06 bg-dark-blue" >
				<div class="module-content">

					<div class="title-default">
							<h2>Mathura sponsor</h2>	
					</div>

					<div class="tab-dark-blue" >
						<div class="m-12">
							<ul class="horizontal tab-nav hover-tab">
								<li class="m-04"><h4>Sponsor</h4></li>
								<li class="m-04"><h4>About</h4></li>								
							</ul>
							<div class="tab-content " style="width:80%">
								<div style="width:100%">
									<img src="img/bg-05.jpg" alt="The Last of us">

								</div>

								<div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, suscipit, commodi, molestias, ipsum porro voluptas veniam nesciunt illo enim placeat doloribus delectus sequi reiciendis impedit quam dicta esse incidunt minus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, quo, vitae nobis alias eligendi dolorum libero error perspiciatis molestias repellendus mollitia ad exercitationem inventore consectetur odio eveniet id neque officiis.</p>
								</div>
							
							</div>
						</div>
					</div>

				</div>
			</div>
		
	</section>

</div>
