
    <section class="bg-dark-blue">
          

        <div class="m-08 module">
            <div class="m-06 module">
                <div class="module-content">    
                    <div class="title-default">
                        <h2>Youth Club</h2>  
                    </div>                      
                    <div class="module-blockquot bg-grey">
                        <blockquote>
                            <i class="fa fa-quote-left"></i>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, itaque, nam consequuntur laboriosam consectetur eligendi sunt fugit pariatur quaerat labore beatae ipsam modi molestias sint ipsa reprehenderit aliquid in incidunt!"</p>
                            <div class="author">Martin Vatev</div>
                        </blockquote>   
                    </div>
                </div>                                                                                      
            </div>
        </div>
    </section>
                    
