<section class="big-heading bg-dark-blue" >	

		<div class="m-04 class="big-heading bg-dark-blue">
        	<div class="register-title">
            	<div class="title-default">
                	<h2>Team & Captain Information</h2>
                </div>
            </div>
			<div class="m-12">
				
                <div class="register-inside">	
					<div class="title-default">
						<h2>Team Information</h2>	
					</div>					
					<div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Team Name">
                    </div>
                    <div class="form-group">
                    	<select>
                        	<option>Select Your Flag Color</option>
                            <option>Red</option>
                            <option>Yellow</option>
                            <option>Blue</option>
                        </select>
                    </div>
                    <div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Team Place">
                    </div>
					
                    <div class="title-default">
						<h2>Captain Information</h2>	
					</div>					
                    <div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Captain Name">
                    </div>
                    <div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Captain Email No">
                    </div>
                    <div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Captain Phone No">
                    </div>
                    <center>
                    <div class="button green-bg">
    					Submit
					</div>              
                                       	
                    </center>
				</div>
			</div>
		</div>

		<div class="m-08 module">
        
        	<div class="register-title">
            	<div class="title-default">
                	<h2>Player Information</h2>
                </div>
            </div>
        	<div class="m-12 register-box">
			<div class="m-06 bg-light-green register-box-orange">
				<div class="register-inside">	
					<div class="title-default">
						<h2>Player #2</h2>	
					</div>					
					<div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Name">
                    </div>
                    <div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Email">
                    </div>
				</div>
			</div>							
            
            <div class="m-06 bg-orange register-box-blue">
				<div class="register-inside">	
					<div class="title-default">
						<h2>Player #3</h2>	
					</div>					
					<div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Name">
                    </div>
                    <div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Email">
                    </div>
				</div>
			</div>							
			</div>
            
            <div class="m-12">
            
                <div class="m-06 bg-orange register-box-blue">
				<div class="register-inside">	
					<div class="title-default">
						<h2>Player #4</h2>	
					</div>					
					<div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Name">
                    </div>
                    <div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Email">
                    </div>
				</div>
			</div>
            
			<div class="m-06 bg-light-green register-box-orange">
				<div class="register-inside">	
					<div class="title-default">
						<h2>Player #5</h2>	
					</div>					
					<div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Name">
                    </div>
                    <div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Email">
                    </div>
				</div>
			</div>							
            
							
			</div>
            
            <div class="m-12 register-box">
			<div class="m-06 bg-light-green register-box-orange">
				<div class="register-inside">	
					<div class="title-default">
						<h2>Player #6</h2>	
					</div>					
					<div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Name">
                    </div>
                    <div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Email">
                    </div>
				</div>
			</div>							
            
            <div class="m-06 bg-orange register-box-blue">
				<div class="register-inside">	
					<div class="title-default">
						<h2>Player #7</h2>	
					</div>					
					<div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Name">
                    </div>
                    <div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Email">
                    </div>
				</div>
			</div>							
			</div>
            
            <div class="m-12">
            
                <div class="m-06 bg-orange register-box-blue">
				<div class="register-inside">	
					<div class="title-default">
						<h2>Player #8</h2>	
					</div>					
					<div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Name">
                    </div>
                    <div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Email">
                    </div>
				</div>
			</div>
            
			<div class="m-06 bg-light-green register-box-orange">
				<div class="register-inside">	
					<div class="title-default">
						<h2>Player #9</h2>	
					</div>					
					<div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Name">
                    </div>
                    <div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Email">
                    </div>
				</div>
			</div>							
            
							
			</div>
            
            <div class="m-12 register-box">
			<div class="m-06 bg-light-green register-box-orange">
				<div class="register-inside">	
					<div class="title-default">
						<h2>Player #10</h2>	
					</div>					
					<div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Name">
                    </div>
                    <div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Email">
                    </div>
				</div>
			</div>							
            
            <div class="m-06 bg-orange register-box-blue">
				<div class="register-inside">	
					<div class="title-default">
						<h2>Player #11</h2>	
					</div>					
					<div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Name">
                    </div>
                    <div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Email">
                    </div>
				</div>
			</div>							
			</div>
            
            <div class="m-12">
            
                <div class="m-06 bg-orange register-box-blue">
				<div class="register-inside">	
					<div class="title-default">
						<h2>Player #12</h2>	
					</div>					
					<div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Name">
                    </div>
                    <div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Email">
                    </div>
				</div>
			</div>
            
			<div class="m-06 bg-light-green register-box-orange">
				<div class="register-inside">	
					<div class="title-default">
						<h2>Player #13</h2>	
					</div>					
					<div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Name">
                    </div>
                    <div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Email">
                    </div>
				</div>
			</div>							
            
							
			</div>
            
            <div class="m-12 register-box">
			<div class="m-06 bg-light-green register-box-orange">
				<div class="register-inside">	
					<div class="title-default">
						<h2>Player #14</h2>	
					</div>					
					<div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Name">
                    </div>
                    <div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Email">
                    </div>
				</div>
			</div>							
            
            <div class="m-06 bg-orange register-box-blue">
				<div class="register-inside">	
					<div class="title-default">
						<h2>Player #15</h2>	
					</div>					
					<div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Name">
                    </div>
                    <div class="form-group">
                    	<input type="text" class="form-control" placeholder="Enter Player Email">
                    </div>
				</div>
			</div>							
			</div>
            
            
            
            
            
            <!--<div class="m-12">
			<div class="m-06 bg-dark-blue">
				<div class="module-content">	
					<div class="title-default">
						<h2>Player #6</h2>	
					</div>					
					
				</div>
			</div>							
            
            <div class="m-06 bg-orange">
				<div class="module-content">	
					<div class="title-default">
						<h2>Player #7</h2>	
					</div>					
					
				</div>
			</div>							
			</div>
            
            <div class="m-12">
            
                <div class="m-06 bg-orange">
				<div class="module-content">	
					<div class="title-default">
						<h2>Player #8</h2>	
					</div>					
					
				</div>
			</div>
            
			<div class="m-06 bg-dark-blue">
				<div class="module-content">	
					<div class="title-default">
						<h2>Player #9</h2>	
					</div>					
					
				</div>
			</div>							
            
							
			</div>
            
            <div class="m-12">
			<div class="m-06 bg-dark-blue">
				<div class="module-content">	
					<div class="title-default">
						<h2>Player #10</h2>	
					</div>					
					
				</div>
			</div>							
            
            <div class="m-06 bg-orange">
				<div class="module-content">	
					<div class="title-default">
						<h2>Player #11</h2>	
					</div>					
					
				</div>
			</div>							
			</div>
            
            <div class="m-12">
            
                <div class="m-06 bg-orange">
				<div class="module-content">	
					<div class="title-default">
						<h2>Player #12</h2>	
					</div>					
					
				</div>
			</div>
            
			<div class="m-06 bg-dark-blue">
				<div class="module-content">	
					<div class="title-default">
						<h2>Player #13</h2>	
					</div>					
					
				</div>
			</div>							
            
							
			</div>
            
                        <div class="m-12">
			<div class="m-06 bg-dark-blue">
				<div class="module-content">	
					<div class="title-default">
						<h2>Player #14</h2>	
					</div>					
					
				</div>
			</div>							
            
            <div class="m-06 bg-orange">
				<div class="module-content">	
					<div class="title-default">
						<h2>Player #15</h2>	
					</div>					
					
				</div>
			</div>							
			</div>-->
            
            
		</div>			
	</section>