    
    <section class="bg-dark-blue">
          <div class="title-default">
                                <h2>Teams</h2>
         </div>

        <div class="m-08 module" style="width:30%">
            <div class="m-06 module" style="width:100%">
                <div class="module-content">
                <div class="module-blockquot bg-grey">    
                    <div class="title-default">
                        <h2>Youth Club</h2>  
                    </div>                      
                    
                        <blockquote > 
                            <i class="fa fa-flag" style="color:green"></i>
                            <p>Caption Name: Hitendra Kumar </br>
                                Place:Mathura
                                </p>
                            <a href='/team_information' %>
                            <div class="button green-bg">More</div>
                            </a>
                        </blockquote>   
                    </div>
                </div> 

             </div>
        </div>
        <div class="m-08 module">
            <div class="m-06 module">
                <div class="module-content">
                <div class="module-blockquot bg-grey">    
                    <div class="title-default">
                        <h2>Youth Club</h2>  
                    </div>                      
                    
                        <blockquote > 
                            <i class="fa fa-flag" style="color:green"></i>
                            <p>Caption Name: Hitendra Kumar </br>
                                Place:Mathura
                                </p>
                            <div class="button green-bg">More</div>
                        </blockquote>   
                    </div>
                </div> 

             </div>
        </div>

       
    </section>
                    
