<center>
	<section class="bg-dark-blue">

		<div class="m-12">
		<section>
        	
			<div class="m-06 bg-dark-blue">
				<div class="module-content">
					<div class="tab-dark-blue">
						<div class="m-12">
							<ul class="horizontal tab-nav click-tab">
								<li class="m-06"><h4>Login</h4></li>
								
							</ul>
							<div class="tab-content ">
								<div class="login-box">
                                
									<form style="padding-top:80px;"> 
                                    	<input type="text" placeholder="Please Enter Your Username"><br><br>
                                        <input type="text" placeholder="Please Enter Your Password">
                                        <a href="#" class="button green">Button</a>
                                    </form>

								</div>
								
							</div>
						</div>
					</div>

				</div>
			</div>

			
		</section>

		</div>

	</section>
	</center>
